<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatchatback.mapper.UserExerciseAnswersMapper">

    <select id="selectManualQuestionsByIds" parameterType="java.util.List" resultType="java.util.Map">
        SELECT eq.id, eq.source_text as sourceText, eq.content, eq.answer, eq.analysis, eq.difficulty, tr.technique_id as techniqueId
        FROM exercise_questions eq
        left join technique_relations tr on eq.id = tr.question_id
        WHERE id IN
        <foreach collection="questionIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectAIQuestionsByIds" parameterType="java.util.List" resultType="java.util.Map">
        SELECT id, source_text as sourceText, content, answer, analysis, difficulty, technique_id as techniqueId
        FROM ai_exercise_questions
        WHERE id IN
        <foreach collection="questionIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
