spring:
  application:
    name: chatchat

  # 配置环境
  profiles:
    active: dev

  datasource:
    #配置数据库连接信息
    #数据库访问的url地址
    url: jdbc:mysql://${chatchat.db.host}:3306/chatchat
    #数据库驱动类类名
    driver-class-name: com.mysql.jdbc.Driver
    #访问数据库-用户名
    username: root
    #访问数据库-密码
    password: ${chatchat.db.pw}
  servlet:
    multipart:
      # 启用 multipart 上传
      enabled: true
      # 最大单个文件大小 - 调整为200MB
      max-file-size: 200MB
      # 最大请求大小（包括所有文件和表单数据）- 调整为200MB
      max-request-size: 200MB
      # 文件大小阈值，超过此值会写入临时文件
      file-size-threshold: 2KB
      # 临时文件存储位置
      location: /tmp

  data:
    redis:
      # 超时配置
      timeout: 5000ms
      host: ${chatchat.redis.host}
      port: 6379
      password: ${chatchat.redis.pw}
      database: 1
      lettuce:
        pool:
          max-active: 8
          max-wait: -1ms
          max-idle: 8
          min-idle: 0

  cache:
    type: redis
    redis:
      time-to-live: 18000 # 30分钟过期时间
      use-key-prefix: true
      key-prefix: "chatchat:"


mybatis:
  configuration:
    #配置mybatis的日志输出
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    #开启驼峰命名映射开关
    map-underscore-to-camel-case: true
  type-handlers-package: chatchatback.handler

#mybatis-plus的enum类型处理
mybatis-plus:
  configuration:
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler

#配置事务管理日志级别
logging:
  level:
    chatchatback:
      mapper: debug
      service: info
      controller: info

chatchat:
    jwt:
      #管理端配置
      # 设置jwt签名加密时使用的秘钥
      admin-secret-key: zisuChatChatXinTaiBengDiaoLeKuaiLaiBangBangWo
      # 设置jwt过期时间(48h)
      admin-ttl: 172800000
      # 设置前端传递过来的令牌名称
      admin-token-name: token
    # elasticsearch
    es:
      host: ${chatchat.es.host} # dev环境
    dify:
      api:
        base-url: http://121.40.171.211/v1
        api-key: app-HF0OsTrV7RAcgfk58YcYvFUN
        api-test: app-t8gR87h155kLi0acazrdvu9L

server:
  port: 8848
  ssl:
    key-store: classpath:zhixunshiyun.yezhiqiu.cn.pfx
    key-store-password: w87so27t
    key-store-type: PKCS12